body, html{
    width:100%;
    height:100%;
    padding:0;
    margin:50px;
}
*{
    box-sizing:border-box;
}



h1, h2{margin: 0;
    }

main{
    display: grid;
}

.nametag {
    height: 280px;
    width: 400px;
    box-shadow: 19px 19px 1px 5px rgba(128, 128, 128, 0.5);
    border-radius: 20px;
    border: dashed .5px;
    display: grid;
    grid-template-rows: 1fr 2fr  1fr;
}
    

    .top-section {
        
        background-color:#f20051;
        border-radius: 20px 20px 0px 0px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 5px;
        
        
    }
    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        font-family: arial black, Arial, Helvetica, sans-serif;    
    }
   
    #middle-section {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        font-family: 'Space Mono', monospace;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .bottom-section {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#f20051;
        border-radius: 0px 0px 20px 20px;
    }

    .input-section {
        margin:50px 0px 0px 50px;
        display: flex;
        width: 15%;
        align-items: bottom;
        justify-content: center;   
        flex-direction: row;
        
    }
#name-input{
    font-family: 'Space Mono', monospace;
    text-align: center;
    border: dashed 1px;
    box-shadow: 5px 5px 1px 0px rgba(128, 128, 128, 0.5);
}
#name-button{
    font-family: 'Space Mono', monospace;
    margin-left:15px;
    border: dashed 1px;
    box-shadow: 5px 5px 1px 0px rgba(128, 128, 128, 0.5);
    cursor: pointer;
}

#pronoun{
    font-size: .45em;
    text-align: center;
   
}

#pronoun-input{
    font-family: 'Space Mono', monospace;
    margin-left:15px;
    text-align: center;
    border: dashed 1px;
    box-shadow: 5px 5px 1px 0px rgba(128, 128, 128, 0.5);
}
#pronoun-button{
    font-family: 'Space Mono', monospace;
    margin-left:15px;
    border: dashed 1px;
    box-shadow: 5px 5px 1px 0px rgba(128, 128, 128, 0.5);
    cursor: pointer;
}

