body, html{
    width:100%;
    height:100%;
    padding:0;
    margin:50px;
}
*{
    outline: 0;
    box-sizing:border-box;
}


@-webkit-keyframes hvr-hang {
    0% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @keyframes hvr-hang {
    0% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @-webkit-keyframes hvr-hang-sink {
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @keyframes hvr-hang-sink {
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }

h1, h2{margin: 0;
    }

main{
    display: grid;
    grid-template-columns: 2.5fr 5fr 1fr;
}

.nametag {
    height: 280px;
    width: 400px;
    box-shadow: 19px 19px 1px 5px rgba(128, 128, 128, 0.5);
    border-radius: 20px;
    border: dashed .5px;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 2fr  1fr;
}
    

    .top-section {
        
        background-color:#f20051;
        border-radius: 20px 20px 0px 0px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 5px;
        
        
    }
    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        font-family: arial black, Arial, Helvetica, sans-serif;    
    }
   
    #middle-section {
        display: grid;
        grid-template-rows: 1fr .5fr;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
        font-family: 'Space Mono', monospace;
    }

    .bottom-section {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#f20051;
        border-radius: 0px 0px 20px 20px;
    }

    .input-section {
        margin-top:50px;
        margin-left:15px;
        display: flex;
        grid-column: 2;
        align-items: bottom;
        justify-content: left;   
        flex-direction: row;
        
    }

    .color-section {
        margin-top: 20px;
        display: flex; 
        grid-column: 2;
        width:550px;
        align-items: bottom;
        justify-content: left;   
        flex-direction: row;
        
    }
    
.dropdown {
        width : 300px; 
        background: white;
        margin-top : 20px ; 
        font-family: 'Space Mono', monospace;
        grid-column: 2;
        
    }
      
.drop-span {
        border:1px dashed;
        padding:5px;
        margin-left:15px;
        background :white;
        font-size : .85em;
        font-family: 'Space Mono', monospace;
        cursor : pointer;
        display: flex;
        align-content: center;
        justify-content: center;
        box-shadow: 5px 5px 1px 0px rgba(0, 0, 0, 0.5);
    }
  
      
    .slide {
        height:0px;
        overflow: hidden;
        text-align: center;
        transition: height .4s ease;
        list-style-type: none
    }
  
  
    li a {text-decoration: none; 
          border: 1px dashed;
          padding:5px;
          font-size : .85em;
          color : #2d2f31;
          display: flex;
          align-content: center;
          justify-content: center;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
    }
  
    li a:hover {
      -webkit-animation-name: hvr-hang-sink, hvr-hang;
      animation-name: hvr-hang-sink, hvr-hang;
      -webkit-animation-duration: .3s, 1.5s;
      animation-duration: .3s, 1.5s;
      -webkit-animation-delay: 0s, .3s;
      animation-delay: 0s, .3s;
      -webkit-animation-timing-function: ease-out, ease-in-out;
      animation-timing-function: ease-out, ease-in-out;
      -webkit-animation-iteration-count: 1, infinite;
      animation-iteration-count: 1, infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-direction: normal, alternate;
      animation-direction: normal, alternate;
    }
  
  
    .slide li {padding : 5px;}
      
      #touch {opacity: 1; height: 0px; }    
      
      #touch:checked + .slide {height: 250px;
    } 
    ul {
        display: block;
        margin:0;
        
    }

#name-input{
    font-family: 'Space Mono', monospace;
    text-align: center;
    border: dashed 1px;
    box-shadow: 5px 5px 1px 0px rgba(128, 128, 128, 0.5);
}

#name-button{
    font-family: 'Space Mono', monospace;
    margin-left:15px;
    border: dashed 1px;
    box-shadow: 5px 5px 1px 0px rgba(128, 128, 128, 0.5);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

#name-button:hover{
    color:white;
    background-color:black;
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;}


#pronoun {
    font-size: .5em;
    display: flex;
    justify-content: center;
    font-style: italic;
    
}

#pronoun-input{
    font-family: 'Space Mono', monospace;
    margin-left:15px;
    text-align: center;
    border: dashed 1px;
    box-shadow: 5px 5px 1px 0px rgba(128, 128, 128, 0.5);
}



#pink-button{
    font-family: 'Space Mono', monospace;
    margin-left:15px;
    border: dashed 1px;
    background-color:lightgrey;
    box-shadow: 5px 5px 1px 0px rgba(255, 188, 237, 1);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    
}

#pink-button:hover, #pink-button:focus, #pink-button:active {
    background-color: rgba(255, 188, 237, 1);
    color:white;
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

#purple-button{
    font-family: 'Space Mono', monospace;
    margin-left:15px;
    border: dashed 1px;
    background-color:lightgrey;
    box-shadow: 5px 5px 1px 0px rgba(148, 75, 228, .5);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

#purple-button:hover {
    background-color: rgba(148, 75, 228, 1);
    color:white;
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;}


#green-button{
    font-family: 'Space Mono', monospace;
    margin-left:15px;
    border: dashed 1px;
    background-color:lightgrey;
    box-shadow: 5px 5px 1px 0px rgba(161, 245,46, .5);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

#green-button:hover {
    background-color: rgba(161, 245,46, 1);
    color:white;
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;}


#black-button{
    font-family: 'Space Mono', monospace;
    margin-left:15px;
    border: dashed 1px;
    background-color:lightgrey;
    box-shadow: 5px 5px 1px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

#black-button:hover {
    background-color: rgba(0, 0, 0, );
    color:white;
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;}


#white-button{
    font-family: 'Space Mono', monospace;
    margin-left:15px;
    border: dashed 1px;
    background-color:white;
    box-shadow: 5px 5px 1px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

#white-button:hover {
    color:black;
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;}
   

    #pacifico{
        font-family: 'Pacifico', cursive;
        display: inline-block;
        width:150px;
    }

    #playfair-display{
        font-family: 'Playfair Display', serif;
        display: inline-block;
        width:150px;
    }

    #quicksand {
        font-family: 'Quicksand', sans-serif;
        display: inline-block;
        width:150px;
    }

    #yomogi {
        font-family: 'Yomogi', cursive;
        display: inline-block;
        width:150px;
    }

    #space-mono {
        font-family: 'Space Mono', monospace;
        display: inline-block;
        width:150px;
    }